<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantry!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"
</head>
<body>
    <header class="navbar">
        <div class="navbar__brand">
            <img class="navbar__logo" src="/static/logo.svg" alt="Pantry Logo" />
        </div>
    </header>
    <form action="add" method="post">
        <p>
            <label for="name">Product name</label>
            <input type="text" name="name"></input>
        </p>
        
        <p>
            <label for="quantity">Quantity</label>
            <input type="number" name="quantity"></input>
        </p>

        <p>
            <label for="size">Size</label>
            <input type="text" name="size"></input>
        </p>

        <p>
            <label for="exp_date">Expiration date</label>
            <input type="text" name="exp_date"></input>
        </p>
    </form>
</body>
</html>